@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navegacion{
    background-color: rgba(18, 103, 138, 1);
    padding: 10px 30px;
    margin: 8px;}

.navegacion img {
    width: 150px ;
}


main img {
    width: 100%;
    padding: 8px;
}

h2 {background-color: rgb(67, 174, 154);
    padding: 10px 20px;
    margin: 5px;
    color: blue;}

body {
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

@media (max-width:320px){
    nav {
        background-color: rgba(18, 103, 138, 1);
        padding: 10px 30px;
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       }
  }

.inicio{
    color: rgba(18, 103, 138, 1);
    text-align: center;
    background-color: rgb(123, 162, 179);
    padding: 10px;
    margin: 20px;
    font-size: 2.6rem;
    border-top-style: dotted;
    border-width: 2px;
}

.parrafoinicial{
    color: rgba(1, 52, 63, 1);
    display: flex;
    flex-direction:row;
    align-items:center;
 }
.parrafoinicial p{
    padding: 15px;
    margin: 10px;
    font-size: 1.4rem;
}

.parrafoinicial img{
    margin: 15px;
}

.informacion {
    color: black;
    text-align: left;
    background-color: beige;
    padding: 10px 15px;
    margin: 8px 8px;
    font-size: 1.6rem;
}

.contacto{
    margin: 15px;
    padding: 10px;
    display: flex;
    align-content: space-around;
}
.contacto label{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    color: blue;
    }

.empresa{
    margin: 10px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(18, 103, 138, 1);
    margin: 10px;
    }

footer img {
    margin-left: 25px;
    width: 50px;
    height: 50px;
    padding: 10px;
}
.servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: rgb(4, 68, 96);
    font-size: 1.2rem;
    background-color: rgb(123, 162, 179);
    margin: 10px;
    padding: 5px;
    }
.servicios button{
    background-color: rgb(148, 194, 235);
    border-style: none;
}
.titulos{
    padding: 5px;
    margin: 10px;
    background-color:rgb(123, 162, 179);
    font-size: 2rem;
    text-align: center;
    color: rgba(18, 103, 138, 1);
}    
.mapa{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 20px;
}

#galeria{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.fotoa{
   grid-area: fotoa; 
}
.fotob{
    grid-area: fotob;
}
.fotoc{
    grid-area: fotoc;
}
.fotod{
    grid-area: fotod;
}
.fotoe{
    grid-area: fotoe;
}
#galeria{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2 20vh);
    grid-template-areas: 
    "fotoe fotoc fotob" 
    "fotoa fotod fotob";
}

@media ( width < 376px ) {
.parrafoinicial {
display: flex;
flex-direction:column;
font-size: 1rem;
}
.parrafoinicial img {
    align-items: end;
}
.inicio{
    font-size: 1.2rem;
}
}