* {
overflow-x: hidden;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
 }
main{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,20,229,1) 0%, rgba(0,212,255,1) 100%); 

    img {
    width: 100%;
    margin-bottom: 5px;
}
}

.titulos{
    padding: 5px;
    margin: 10px;
    background-color:$thirdBgColor;
    font-size: $SizeXl;
    text-align: center;
    color:$ColorTexto2;
    &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: all 2s;
    }
}    

    footer{
        display:$DFlex;
        flex-direction:$DflexR;
        justify-content: center;
        background-color:$primaryBgColor;
        
            img {
                margin-left: 25px;
                width: 50px;
                height: 50px;
                padding: 10px;}
    }
    
    .navegacion{
    
        background-color:$primaryBgColor;
          
        img
            {width: 150px ;}
    
            a{
                color: $white;
                &:hover{
                    color:$black;
                }
            }

    }   

