main img {
    width: 100%;
    margin-bottom: 5px;
}

body 
    {
        background-image: url(../imagenes/fondo.jpg);
        background-repeat: repeat;
        background-attachment: fixed;
    }
.titulos{
    padding: 5px;
    margin: 10px;
    background-color:$thirdBgColor;
    font-size: $SizeXl;
    text-align: center;
    color:$ColorTexto2;
    }    
    
