main img {
    width: 100%;
    margin-bottom: 5px;
}

body 
    {
        background-image: url(../imagenes/fondo.jpg);
        background-repeat: repeat;
        background-attachment: fixed;
    }
.titulos{
    padding: 5px;
    margin: 10px;
    background-color:$thirdBgColor;
    font-size: $SizeXl;
    text-align: center;
    color:$ColorTexto2;
    &:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: all 2s;
    }
}    

    footer{
        display:$DFlex;
        flex-direction:$DflexR;
        justify-content: center;
        background-color:$primaryBgColor;
        
            img {
                margin-left: 25px;
                width: 50px;
                height: 50px;
                padding: 10px;}
    }
    
    .navegacion{
    
        background-color:$primaryBgColor;
        margin:5px;
    
        img
            {width: 150px ;}
    
            a{
                color: $white;
                &:hover{
                    color:$black;
                }
            }
    }   

