.contacto{
    margin: 15px;
    padding: 10px;
    display:$DFlex;
    align-content: space-around;
    

    label{
        font-size:$SizeSm;
        display:$DFlex;
        flex-direction:$DflexC;
        color:$blue
    }
}