.contacto{
    margin: 15px;
    padding: 10px;
    display:$DFlex;
    align-content: space-around;
    
    form{
        background-color: rgba(246, 246, 246,0.5);
    }

    label{
        font-size:$SizeSm;
        display:$DFlex;
        flex-direction:$DflexC;
        color:$blue
    }
}