.empresa{
    margin: 10px;
    font-size:$SizeMd;
    display:$DFlex;
    justify-content: space-between;
    align-items: center;
 }
#historia{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows:repeat(3 30vh) ;
    grid-template-areas:
    "tituloh tituloh fotoh"
    "textoh textoh fotoh"
    "textoh textoh  fotoh2";
}
.fotoh1{
    grid-area: fotoh;
    margin: 5px;
}

.textoh{
    grid-area: textoh;
    padding: 5px;
    font-size: $SizeMd;
    font-weight: $textBold;
    line-height: 30px
}
.fotoh2{
    grid-area: fotoh2;
    margin: 5px;
    
}
.tituloh{
    grid-area: tituloh;
    align-items: center;
    background-color: $secondaryBgColor;
    color: $ColorTexto2;
    font-weight:$textBold;
    font-size: $SizeLg;
    line-break: 5px;
}
