.empresa{
    margin: 10px;
    display:$DFlex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
 }
#historia
{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows:repeat(3 30vh) ;
    grid-template-areas:
    "tituloh tituloh fotoh"
    "textoh textoh fotoh"
    "textoh textoh  fotoh2";
    align-items: center;
    padding: 10px;

   .fotoh1{
    grid-area: fotoh;
    margin: 5px;
   }

   .textoh
   {
    grid-area: textoh;
   }
   .fotoh2
   {
    grid-area: fotoh2;
    margin: 5px;
    
   }
   .tituloh
   {
    grid-area: tituloh;
    align-items: center;
    background-color: $secondaryBgColor;
    color: $ColorTexto2;
    font-weight:$textBold;
    font-size: $SizeLg;
    line-break: 5px;
   }
 }