footer{
    
    display:$DFlex;
    flex-direction:$DflexR;
    justify-content: center;
    background-color:$primaryBgColor;
    
        img {
            margin-left: 25px;
            width: 50px;
            height: 50px;
            padding: 10px;}
}

