* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;}

.inicio{
    color: $primaryBgColor;
    text-align: center;
    background-color: rgb(123, 162, 179);
    padding: 5px;
    font-size: $SizeXl;
    border-top-style: none;
    border-width: 2px;
    }

.parrafoinicial
{
    color: $ColorTexto1;
    display: $DFlex;
    flex-direction:$DflexR;
    align-items:center;
     
    
    p{
        padding: 15px;
        margin: 10px;
        font-size: 1.4rem;
    }
    
    img{
        padding: 10px;
    }
}


.tarjetas{
    display: flex;
    justify-content: space-between;
    color: $ColorTexto1;
    font-size:$SizeSm;
    font-weight: $textBold;
    padding: 5px;
    
    .btn-rounded{
        @extend .btn;
        border-style: hidden;
        border-radius: 8px;
        height: auto;
    }
    figure {
        padding: 4px;
        display:block;
        width: 300px;
        height: 800px; 
        padding: 5px;
        align-items: center;
        
        .btn{
        background-color:$thirdBgColor;
        color:$ColorTexto2;
        padding: 2px;
        text-align: center;
        cursor: pointer; 
        &:hover {
            background-color:rgb(87, 125, 181);
        }
    }
    }
}

.video{
    display: $DFlex;
    justify-content: center;
    margin: 5px;
}