@media ( width < 768px ) 
    {
    .parrafoinicial {
    display: flex;
    flex-direction:column;
    font-size: $SizeSm;
    }
    img {
        align-items: end;
    }
    .inicio{
        font-size: 1.2rem;
    }
    }

    @media ( width < 576px ) {
        #galeria
        {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "fotoa"
            "fotob"
            "fotoc"
            "fotod"
            "fotoe";
        }
     }