.navegacion{
    
    background-color:$primaryBgColor;
    margin:5px;

    img
        {width: 150px ;}

        a{
            color: $white;
            &:hover{
                color:$black;
            }
        }
}