.servicios
{
    display: $DFlex;
    flex-direction:$DflexR;
    justify-content: center;
    text-align: center;
    color:$ColorTexto1;
    font-size: $SizeMd;;
    margin: 30px;
    font-weight: $textBold;
}
