.servicios
{
    display: $DFlex;
    flex-direction:$DflexR;
    justify-content: space-between;
    text-align: center;
    color:$ColorTexto1;
    font-size: $SizeMd;
    background-color:$thirdBgColor;
    margin: 10px;
}
