//variables globales//
//Background Colors//
$primaryBgColor:rgba(18, 103, 138, 1);
$secondaryBgColor: rgb(67, 174, 154);
$thirdBgColor: rgb(123, 162, 179);

//Colores de Fuentes//
$black:rgb(9, 9, 9);
$white:rgb(240, 233, 233);
$blue:rgb(27, 27, 219);

//tamaños de fuente//
$SizeSm:1em;
$SizeMd:1.4em;
$SizeLg:1.8em;
$SizeXl:2em;


//Displays//
$DFlex: flex;
$DGrid:grid;
$DflexR:row;
$DflexC:column;







