    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
    @import "_variables";
    @import "_mixins";
    @import "_index";
    @import "_commons";
    @import "_contacto";
    @import "_empresa";
    @import "_servicios";
    @import "_trabajos-realizados";
    @import "_error";
    @import "_mediaqueries";
    @import "../node_modules/bootstrap/scss/bootstrap.scss";
    

